                                /* Google Fonts  */
/* Google Font "Poppins"*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
/* Google Font "Poppins"*/
-------------------------
/* Google Font "Roboto"*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* Google Font "Roboto"*/


                        /* -------------------------  
                        Hero / Banner Section Style
                        ----------------------------  */


.background-shape{
background: #161616;
border-radius: 30px;
width: 1170px;
height: 646px;
}