@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
/* Special Button For TAB  */
#for-tab a{
    font-family: 'Poppins';
    font-style: normal;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    background: #DD0000;
    border-radius: 5px;
    padding: 10px 50px;
    }
    #for-tab{
        display: none;
    }
.container{
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    justify-content: center;
    align-items: center; 
    width: 100%;
}
.background-shape{
    background-color: #161616;
    width: 1321px;
    height: 646px;
    border-radius: 30px;
    display: flex;
}
.banner-content{
    display: flex;
    flex-direction: column;
    padding: 100px;
    
}
.banner-content h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
    color: #FFFFFF;
    width: 531px;
    height: 240px;
    margin-bottom: 30px;
}
.banner-content p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    width: 506px;
    height: 78px;
    margin-bottom: 60px;

}
.banner-content a{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    background: #DD0000;
    width: 187px;
    border-radius: 5px;
    padding: 20px 30px;
    transition: 2s ease-in-out;
}
.banner-content a:hover{
    padding: 20px 150px;
}
.fa-angle-right{
    padding-left: 30px;
}
.banner-image{
    display: flex;
    width: 581px;
    height: 613px;
    margin-top: 33px;
    margin-left: -60px;
    
}
/* --------------------------------------------------------  */

.blog-parent{
    display: flex;
    gap: 30px;
}
.three-button-menu{
    background: #161616;
    border-radius: 10px;
    width: 312px;
    height: 312px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    justify-content: center;
    align-items: center;
}
.three-button-menu a{
    text-decoration: none;
}
.three-button-upcoming{
    background: #FFFFFF;
    border-radius: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #161616;
    padding: 15px 30px;
}
.three-button-all-group{
    background: #FFFFFF;
    border-radius: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #161616;
    padding: 15px 70px;
}
.three-button-blog{
    background: #DD0000;
    border-radius: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    padding: 15px 95px;
}
.blog-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
}
.blog-list article{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 312px;
    height: 362px;
    box-shadow: 5px 5px 30px -30px black;
    border-radius: 10px 10px 0px 0px;
}
.article-button a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: #161616;
    border: 1px solid #161616;
    border-radius: 5px;
    padding: 5px 15px;
}
.article-title h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #161616;
    width: 272px;
    height: 54px;
}
.time-n-comment{
    display: flex;
    gap: 30px;
}
.time-icon{
    display: flex;
    gap: 10px;
}
.time-icon span{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: rgba(22, 22, 22, 0.7);
}
.comment-icon{
    display: flex;
    gap: 10px;
}
.comment-icon span{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: rgba(22, 22, 22, 0.7);
}
.footer-bg{
width: 100%;
height: 444px;
background: #161616;
display: flex;
flex-direction: column;
}
.footer-bg p{
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 60px;
text-align: center;
color: #FFFFFF;
position: absolute;
left: 753px;
margin-top: 50px;
}
.footer-bg a{
text-decoration: none;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #B9B9B9;
}
.footer-menu{
    display: flex;
    gap: 60px;
    justify-content: center;
    padding-top: 200px;
}
.social-media-icon{
    display: flex;
    gap: 50px;
    justify-content: center;
    padding-top: 40px;
    margin-right: 100px;
}
.footer-container {
    margin-bottom: 0;
}
hr{
    width: 1110px;
    background:rgba(60, 59, 59, 0.347);
    display: flex;
    align-items: center;
}
/* Responsive Layout For Laptop Start */
@media only screen and (max-width: 1312px) and (min-width: 992px) {
    .container{
        align-items: center;
        justify-content: center;
        margin-left: 30px;
    }
    .background-shape{
        flex-direction: column;
        margin-top: 100px;
        width: 1000px;
        align-items: center;
    }
    .banner-content{
        margin-top: -50px;
    }
    .banner-content h1{
        font-size: 50px;
        text-align: center;
        width: 900px;
        height: 240px;
        line-height: 50px;
        margin-bottom: -150px; 
    }
    .banner-content p{
        width: 900px;
        height: 48px;
       margin-bottom: 35px;
    }
    .banner-content a{
        font-size: 15px;
        padding: 10px 15px;
        margin-top: -500px;
    }
    .banner-image{
        margin-left: 80px;
        margin-top: -130px;
        height: 600px;
        width: 580px;
    }
    .blog-parent{
        flex-direction: column;
    }
    .three-button-menu{
        
        background: none;
        gap: 80px;
        flex-direction: column;
        margin-left: 300px;
    }
    
    .three-button-upcoming{
        border: 1px solid #E8E8E8;
        
    }
    .three-button-all-group{
        border: 1px solid #E8E8E8;
    }
    .blog-list{
        grid-template-columns: repeat(3, 1fr);
    }
    #for-tab{
        display: none;
    }
    #footer-title{
        font-size: 40px;
        line-height: 60px;
        text-align: center;
        color: #FFFFFF;
        position: absolute;
        margin-left: -125px;
        margin-top: 141px;
    }
    .footer-menu{
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }
    hr{
        display: none;
    }
    .social-media-icon{
        margin-bottom: 130px;
        gap: 30px;
        margin-left: 100px;
    }
}
/* Responsive Layout For Tab Start  */
@media only screen and (min-width: 688px) and (max-width: 992px) {
    .container{
        align-items: center;
        justify-content: center;
        margin-left: 30px;
    }
    .background-shape{
        flex-direction: column;
        margin-top: 100px;
        width: 600px;
        align-items: center;
    }
    .banner-content{
        margin-top: -50px;
    }
    .banner-content h1{
        font-size: 50px;
        text-align: center;
        width: 500px;
        height: 240px;
        line-height: 50px;
        margin-bottom: -120px; 
    }
    .banner-content p{
        width: 500px;
        height: 48px;
       margin-bottom: 60px;
    }
    .banner-content a{
        font-size: 15px;
        padding: 10px 15px;
        margin-top: -500px;
    }
    .banner-image{
        margin-left: 40px;
        margin-top: -130px;
        height: 400px;
        width: 380px;
    }
    .blog-parent{
        flex-direction: column;
    }
    .three-button-menu{
        
        background: none;
        gap: 80px;
        flex-direction: row;
        margin-left: 150px;
    }
    
    .three-button-upcoming{
        border: 1px solid #E8E8E8;
        
    }
    .three-button-all-group{
        border: 1px solid #E8E8E8;
    }
    .blog-list{
        grid-template-columns: repeat(2, 1fr);
    }
    #for-tab{
        display: block;
        position: absolute;
        left: 320px;
        top: 3150px;
    }
    #footer-title{
        font-size: 40px;
        line-height: 60px;
        text-align: center;
        color: #FFFFFF;
        position: absolute;
        margin-left: -350px;
        margin-top: 141px;
    }
    .footer-menu{
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }
    hr{
        display: none;
    }
    .social-media-icon{
        margin-bottom: 130px;
        gap: 30px;
        margin-left: 100px;
    }
}
/* Responsive Layout For Tab End  */

/* Responsive Layout For Mobile Start  */
@media only screen and (max-width: 688px) {
    .container{
        align-items: center;
        justify-content: center;
        margin-left: 30px;
    }
    .background-shape{
        flex-direction: column;
        margin-top: 100px;
        width: 400px;
        align-items: center;
    }
    .banner-content{
        margin-top: -50px;
    }
    .banner-content h1{
        font-size: 30px;
        text-align: center;
        width: 300px;
        height: 240px;
        line-height: 40px;
        margin-bottom: -130px; 
    }
    .banner-content p{
        width: 300px;
        height: 48px;
       margin-bottom: 120px;
    }
    .banner-content a{
        font-size: 15px;
        padding: 10px 15px;
        margin-top: -500px;
    }
    .banner-image{
        margin-left: 20px;
        margin-top: -105px;
        height: 300px;
        width: 233px;
    }
    .blog-parent{
        flex-direction: column;
    }
    .three-button-menu{
        
        background: none;
    }
    .three-button-upcoming{
        border: 1px solid #E8E8E8;
    }
    .three-button-all-group{
        border: 1px solid #E8E8E8;
    }
    .blog-list{
        grid-template-columns: repeat(1, 1fr);
    }
    #for-tab{
        display: none;
    }
    #footer-title{
        font-size: 40px;
        line-height: 60px;
        text-align: center;
        color: #FFFFFF;
        position: absolute;
        margin-left: -570px;
        margin-top: 141px;
    }
    .footer-menu{
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }
    hr{
        display: none;
    }
    .social-media-icon{
        margin-bottom: 130px;
        gap: 30px;
        margin-left: 100px;
    }
}
/* Responsive Layout For Mobile End  */


